* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
.wrapper {
    max-width: 935px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .header {
    padding: 30px;
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
  }
  
  .logo-link {
    display: block;
    width: 150px;
    height: 150px;
    border: 3px solid purple;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .logo-image {
    width: 100%;
  }
  
  .accountInfo-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .accountInfo-username {
    margin-right: 30px;
  }
  
  .accountInfo-followMeButton {
    border: 1px solid transparent;
    background-color: #3897f0;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
  }
  
  .accountInfo-Middle {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .photos-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .photos-item {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    padding: 16% 0;
    box-sizing: border-box;
  }

  .item-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
  }

  .item-container--bg img {
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    margin: -2%;
  }

  .item-container--main {
    z-index: 2;
  }

  .item-container--main img {
    width: 100%;
  }
  
  .photos-item:nth-child(3n+3) {
    margin-right: 0;
  }
  
  .photos-img {
    width: 100%;
  }

.postModal-wrapper {
  display: none;
  background: rgba( 0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.postModal {
  width: 800px;
  height: 600px;
  background: white;
  position: relative;
}

.btnClose {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.btnClose-icon {
  width: 100%;
}

.postModal-content {
  display: flex;
}

.postModal-photo {
  display: block;
  width: 70%;
  min-width: 70%;
}

.postModal-description {
  padding: 10px;
}

.postModal-description .accountInfo-followMeButton {
  margin-bottom: 10px;
}

.postModal-userName {
  margin-bottom: 10px;
}

.postModal-imageDescription {
  margin-bottom: 20px;
}

.hidden-container {
  position: fixed;
  left: 200%;
}